*{
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'sans-serif';
    box-sizing: border-box;
}

.main-container{

}

.component-container{

}

.header{
    width: 100%;
    padding: 2.5rem 0;
    background-color: #000;
}

.header-heading{
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
}

.component-body-container{
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.8rem;
}

.grid-container{
    font-weight: 300;
    color: #000;
    display: flex;
}

.grid-container > *:not(:last-child){
    margin-right: 30%;
}
.heading-container{
    margin: 3rem 0;
    
    color: #555;
    font-weight: 500;
    
}

.add, .delete{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.add{
    padding: .75rem 2.5rem;
    background-color: green;
    color: #fff;
}

.delete{
    padding: 1rem 1.5rem;
    background-color: #F20056;
}

.person{
    margin-left: 2rem;
}

.person-back{
    text-decoration: none;
    color: #333;
    font-size: 1.7rem;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    margin-left: 2rem;
}

.person-contact{
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #555;
}

.person-value{
    margin-bottom: 2rem;
}

.person-value-subscribe{
    color: #00008b;
}

.person-contact-name, .person-contact-number{
    margin-bottom: 2rem;
}

.person-contact-name-label, .person-contact-number-label{
    display: block;
}

.person-contact-name-input, .person-contact-number-input{
    border: 1px solid #777;
    padding: .5rem 1rem;
    width: 25rem;
}

.person-contact-name-input:focus, .person-contact-number-input:focus{
    outline: none;
}
.person-contact-number-label{

}